body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);

}
.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.enter-btn{
    width: auto;
    margin: 20px 40px;
    text-orientation: sideways;
    display: block;
    padding: 10px 0;
    font-style: normal;
    border: 2px solid #FF5733;
    background: none;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: #FF5733;
    overflow: hidden;
    animation: reveal 2s ease;
}
@keyframes reveal {
    0% {  opacity: 0; border-radius: 50%;}
    100% { opacity: 1;}
}
.enter-btn:hover{
    animation: flip 0.7s ease;
    background-color: #FF5733;
    color: white;
}
@keyframes flip {
    from {transform: rotateY(180deg)}
    to {transform: rotateY(360deg)}
}
.hidden{
    display: none;
    opacity: 0;
}
.reveal{
    animation: reveal 3s ease;
}
img{
    width: 100%;
}
.main{
    align-items: center;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}
.intro p{
    font-size: xx-small;
}
ul{
    font-family: 'Source Code Pro', monospace;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-decoration: none;
}
li{
    padding: 20px;
    display: block;
    margin: auto;
}
img{
    width: 40%;
}