body{
    background-color: #1A1A1A;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1A1A1A;
  }
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-wrapper{
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main-wrapper h1{
    opacity: 0;
    font-style: italic;
    font-size: 2em;
}
.navbar{
    z-index: 1;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    text-align: center;
    overflow: hidden;
    background-color: #1A1A1A;
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-wrapper{
    background-color: #FF847C;
}
.skills{
    padding-top: 40px;
    margin: auto;
    width: 70%;
    text-align:center;
    overflow: hidden;
}
nav{
    width: 70%;
    margin: auto;
}
.skill-wrapper img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}
.skills img:hover{
    transition: none;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: white;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}
.hd-itm{
    opacity: 0;
}


@media only screen and (max-width: 768px) {
    .main-wrapper h1{
        font-size: 1em;
    }
    .skills{
        width: 100%;
    }
    .skills img{
        width: 200px;
        height: 200px;
        margin: 5px;
    }
  }

