body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
li{
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.nav{
    width: 10%;
    height: 100vh;
    writing-mode: vertical-rl;
}
.wrapper{
    width: 90%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 0;
  }
section{
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
section:nth-child(1){
    background-color: #F1C40F;
}
section:nth-child(2){
    background-color: #FF7F50;
}
section:nth-child(3){
    background-color: #6495ED;
}
section:nth-child(4){
    background-color: #2ECC71 ;
}
h1{
    font-size: 4.3em;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }    
}
